@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");

$primary-pale: hsl(225, 100%, 94%);
$primary-bright: hsl(245, 75%, 52%);

$neutral-pale: hsl(225, 100%, 98%);
$neutral-desaturated: hsl(224, 23%, 55%);
$neutral-dark: hsl(223, 47%, 23%);

$fontsize: 16px;
$fontfamily: "Red Hat Display";

$widthMobile: 375px;
$widthDesktop: 1440px;
